:root {
  @include rwd(medium) {
    font-size: 14px;
  }
}

html {
  height: 100vh;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

*, *::before, *::after {
  box-sizing: border-box;
  outline: none;
}

body {
  height: 100%;
  font-family: $default-font;
  background-color: $bg-color;
  @include bg('/src/img/bg1.jpg');
  overflow: hidden;
}