@import 'var';
@import 'mixin';
@import 'settings';

//HELPERS
.input-h {
  margin: 0 auto;
  padding: 6px;
  background-color: transparent;
  border: 2px solid $black;

  &--mt {
    margin-top: 18px;
  }

  &--mb {
    margin-bottom: 9px;
  }

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px $primary-light-color inset;

    &:hover,
    &:focus {
      -webkit-box-shadow: 0 0 0px 1000px $primary-light-color inset;
    }
  }
}
.primary-btn-h {
  margin: 27px auto 0;
  padding: 8px 27px;
  display: block;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 3px;
  border: 2px solid $black;
  text-decoration: none;
  color: $black;
  transition: .4s;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    background-color: $primary-light-color;
  }

  &--mt-small {
    margin-top: 15px;
  }
}

.container-b {
  margin: 190px 0 10px;

  &--medium {
    margin-top: 95px;
  }
}

.current-player-moving-b {
  margin: 32px 0;
  text-align: center;

  &__name {
    font-weight: bold;

    &--select-user-1 {
      color: $primary-color;
    }
  }

  &--hidden {
    display: none;
  }
}

.game-area-b {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  justify-content: center;

  @include rwd(medium) {
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
  }

  &--hidden {
      display: none;
  }

  &__area-simple {
    display: grid;
    align-items: center;
    font-size: 3.2rem;
    text-align: center;
    border: 3px solid $black;
    border-right: 0;
    transition: background-color .4s;
    cursor: pointer;

    &:nth-child(3n) {
      border-right: 3px solid $black;
    }

    &:nth-child(-n+6) {
      border-bottom: 0;
    }

    &--select-user-1 {
      color: $primary-color;
    }

    &:hover {
      background-color: lighten($secondary-light-color, 4);
    }
  }
}

.start-game-form-b {
  margin-top: 32px;
  text-align: center;

  &--hidden {
      display: none;
  }

  &__game-with-ai,
  &__game-with-user {
    margin-top: 18px;
  }

  #gameWithUser:checked {
      & ~ #player2NameInput {
          display: block;
      }
  }

  #player2NameInput {
      display: none;
  }
}

.start-game-btn-b {
  &--hidden {
    display: none;
  }
}

//MODAL
.modal-b {
  @include pos();
  @include flex();
  width: 100%;
  height: 100vh;
  text-align: center;
  color: $white;
  background-color: rgba(0, 0, 0, .4);

  &--hidden {
    display: none;
  }
}

.game-winner-alert-b {
  padding: 25px;
  max-width: 300px;
  border: 2px solid $black;
  background-color: $primary-light-color;

  &__title {
    font-size: 1.3rem;
    letter-spacing: 2px;
  }

  &__subtitle {
    margin-top: 10px;
    font-size: 0.9rem;
  }
}