@import 'var';
@import 'mixin';
@import 'settings';

//HELPERS
.input-h {
  margin: 0 auto;
  padding: 6px;
  background-color: transparent;
  border: 2px solid $black;

  &::-webkit-input-placeholder {
    color: $black;
  }

  &::-moz-placeholder {
    color: $black;
  }

  &:-ms-input-placeholder {
    color: $black;
  }

  &:-moz-placeholder {
    color: $black;
  }

  &--mt {
    margin-top: 18px;
  }

  &--mb {
    margin-bottom: 9px;
  }

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px rgba(255,255,255,.1) inset;

    &:hover,
    &:focus {
      -webkit-box-shadow: 0 0 0px 1000px rgba(255,255,255,.1) inset;
    }
  }
}
.btn-standard-h {
  padding: 20px 10px;
  font-size: 1rem;
  text-decoration: none;
  color: $black;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.primary-btn-h {
  margin: 27px auto 0;
  padding: 8px 27px;
  display: block;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 3px;
  border: 2px solid $black;
  text-decoration: none;
  color: $black;
  transition: .4s;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    //background-color: $primary-light-color;
  }

  &--mt-small {
    margin-top: 15px;
  }
}

.user-1-h {
  color: $primary-color;
}

.header-b {
  @include pos();
}

.game-container-b {
  margin: 190px auto 10px;
  padding: 22px 76px;
  position: relative;
  max-width: fit-content;

  &::before {
    content: '';
    @include pos();
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    z-index: -1;
  }

  &--hidden {
    display: none;
  }

  &--medium {
    margin-top: 93px;
  }
}

.current-player-moving-b {
  margin-bottom: 32px;
  text-align: center;

  &__name {
    font-weight: bold;
  }

  &--hidden {
    display: none;
  }
}

.game-area-b {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: repeat(3, 150px);
  justify-content: center;

  @include rwd(medium) {
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
  }

  &--hidden {
      display: none;
  }

  &__area-simple {
    display: grid;
    align-items: center;
    font-size: 3.2rem;
    text-align: center;
    border: 3px solid $black;
    border-right: 0;
    transition: background-color .4s;
    cursor: pointer;

    &:nth-child(3n) {
      border-right: 3px solid $black;
    }

    &:nth-child(-n+6) {
      border-bottom: 0;
    }

    &:hover {
      background-color: rgba(255,255,255,.2);
    }
  }
}

.game-results-panel-b {
  margin-top: 50px;
  font-size: 0.9rem;
  text-align: center;

  &--hidden {
    display: none;
  }

  &__container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    font-weight: bold;
    border: 2px solid $black;
  }

  &__game-counter-container {
    padding: 6px;
  }

  &__player-1,
  &__player-2 {
    padding: 6px;
  }

  &__player-1 {
    border-right: 2px solid $black;
  }

  &__player-2 {
    grid-column-end: -1;
    border-left: 2px solid $black;
  }
}

.start-game-form-b {
  margin: 190px auto 10px;
  padding: 30px 10px;
  position: relative;
  max-width: 300px;
  text-align: center;
  border-radius: 5px;

  &::before {
    content: '';
    @include pos();
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    z-index: -1;
  }

  &--hidden {
      display: none;
  }

  &__game-with-ai,
  &__game-with-user {
    margin-top: 18px;
    cursor: pointer;
  }

  &__game-with-ai-label,
  &__game-with-user-label {
    cursor: pointer;
  }

  #gameWithUser:checked {
      & ~ #player2NameInput {
          display: block;
      }
  }

  #player2NameInput {
      display: none;
  }
}

.start-game-btn-b {
  &--hidden {
    display: none;
  }
}

.game-results-list-b {
  padding: 20px 10px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  backdrop-filter: blur(20px);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(0);
  transition: .4s;

  &--hidden {
    transform: translateX(100%);
  }

  &__result-box-simple {
    margin: 15px 0;
  }

  &__result-box-simple-title {
    margin-bottom: 9px;
    padding: 3px;
    font-size: 0.8rem;
    text-align: center;
    color: $white;
    background-color: $black;
  }

  &__result-box-simple-winner-player-content {
    &:first-of-type {
      margin-bottom: 5px;
    }
  }
}

.modal-b {
  @include pos();
  @include flex();
  width: 100%;
  height: 100vh;
  text-align: center;
  color: $white;
  background-color: rgba(0, 0, 0, .4);

  &--hidden {
    display: none;
  }
}

.game-winner-alert-b {
  padding: 25px;
  max-width: 300px;
  border: 2px solid $black;
  background-color: $primary-light-color;

  &__title {
    font-size: 1.3rem;
    letter-spacing: 2px;
  }

  &__subtitle {
    margin-top: 10px;
    font-size: 0.9rem;
  }
}